@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
    /* font-family: Helvetica, sans-serif; */
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 30px 40px;
}

#nav h3 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 50px;
    margin-left: 5px;
}

#intro {
    height: 45%;
    width: 100%;
    /* background-color: bisque; */
    padding: 30px;
    padding: 35px 35px;
}

#intro h1 {
    letter-spacing: -3px;
    font-size: 123px;
    line-height: 120px;
}

#place {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#place h3,
#place h4 {
    font-size: 25px;
}

#hero-image {
    height: 87%;
    width: 100%;
    /* background-color: orange; */
    background-image: url(img1.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    height: 45%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 53px;
}

#about h2 {
    /* background-color: red; */
    width: 62%;
    font-size: 67px;
    line-height: 78px;
}

#about-part2 {
    width: 35%;
    height: 100%;
    padding: 0 53px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3 {
    font-size: 27px;
    font-weight: 600;
}

#icons {}

#icons i {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 6.5px;
}

#work {
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    padding: 43px 53px;
}

#work1 {
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

#work1 h3 {
    font-size: 28px;
    font-weight: 600;
}

#work1 i {
    font-size: 28px;
}

#work2 {
    width: 65%;
    height: 100%;
    /* background-color: red; */
    padding: 0 56px;
}

#work2>:nth-child(2){
    padding: 38px 0;
}

.work2-part {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 0;
}

.work2-part:first-child {
    /* background-color: blue; */
    border-bottom: 2px solid black;
    padding-bottom: 38px;
}

.work2-part .elem{
    width: 50%;
    height: 100%;
}

.work2-part .elem:first-child{
    border-right: 2px solid black;
    padding-right: 47px;
}

.work2-part .elem:nth-child(2){
    padding-left: 47px;
    
}

.work2-part .elem h4{
    font-size: 39px;
    margin-bottom: 8px;
    font-weight: 600;
}

.work2-part .elem p{
    font-size: 17px;
    color: rgb(54, 50, 50);
}

